<nav class="navbar navbar-default navbar-fixed-top m-bottom-0">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">{{title}}</a>
    </div>
  </div>
</nav>
<div id="wrapper">
  <div id="sidebar-wrapper">
    <app-sidebar (selectedMenuItem)="selectedMenuItem($event)"></app-sidebar>
  </div>
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <div class="jumbotron text-center" *ngIf="!showComponents && !showAnimations">
        <p>Welcome to Carebook Docs</p>
        <p>Click an item on the left to get started</p>
      </div>
      <div *ngIf="showComponents">
        <div *ngFor="let example of appService.componentModels">
          <component-example [model]="example"></component-example>
        </div>
      </div>
      <div *ngIf="showAnimations">
        <div class="page-header" id="fadeInOut">
          <h1>fadeInOut</h1>
        </div>
        <div class="row">
          <div class="col-md-4 code-bg">
            <code [innerText]="fadeInOutLeftText"></code>
          </div>
          <div class="col-md-offset-1 col-md-5 code-bg">
            <code [innerText]="fadeInOutRightText"></code>
          </div>
        </div>
        <div class="row">
          <label class="well col-md-4">
            <input type="checkbox" [checked]="fadeInOutTest" (change)="fadeInOutTest = !fadeInOutTest" /> Click me
          </label>
          <textarea class="well col-md-offset-1 col-md-5" *ngIf="fadeInOutTest" [@fadeInOut]>
                I'm a textarea that fades in and out
              </textarea>
        </div>
        <div class="row code-bg">
          <code [innerText]="animationCodeSnippet"></code>
        </div>
      </div>
    </div>
  </div>
</div>